body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.handImage{
  height: max(3em, 5vw);
}

.logo{
  height: 50px;
}

.liTranslation{
  min-height: max(6em, 10vw);
}

.pTranslation{
  font-size: max(1em, 1.6vw);
}

.errorMsg{
  font-style: italic;
  color: darkred;
}